@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
    font-family: 'Staatliches', cursive;
    background: linear-gradient(to right, #948E99 0%, #2E1437 100%);
    /* background: linear-gradient(to right, #948E99 0%,#203A43 50%, #2E1437 100%); */
    /* background-image: url(./img/blockchain.webp);
    background-size: cover; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

