@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

div {
  font-family: 'Staatliches', cursive;
}

input {
    font-family: 'Staatliches', cursive;
    width: 300px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

textarea {
    
    width: 300px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    /* padding-top: 30px; */
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

.maincontainer {
    display: flex;
    width: 100%;
    /* margin-bottom: 30px; */
}

.coinminingcontainer {
    width: 50%;
    float: left;
    /* background-color: SlateGray; */
    text-align: center;
    height: 500px;
}

.blockinfocontainer {
    width: 50%;
    float: right;
    /* background-color: LightSlateGray; */
    text-align: center;
    height: 500px;
}

.maintitle{
    display: flex;
    justify-content: center;
    color:aliceblue;

}

.blockinfo {
    /* margin-top: 40px; */
    height: 230px;
    background-color : rgb(255,255,255); opacity : 0.3;
}

/* .texttitle {
    margin-top: 20px;
} */

.textfiedtitle {
    margin-top: 40px;
}

.textinfo {
    margin-top: 20px;
}

.textinfo p {
    color:aliceblue;
    font-size: 35px;
}
