.FooterContainer {
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: chartreuse;
    width: 100%;
    top: 0px;
    z-index: 5;
    color: black;
}

.footericons {
    float: right;
}

