.FooterContainer {
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    bottom: 0;
    /* position : absolute; */
    /* bottom : 0; */
}

.footericons {
    display: flex;
    justify-content: center;
}

.icon {
    margin-top: 50px;
    margin-right: 30px;
}

.footertext {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-right: 20px;

}

.footertext b{
    color: white;
}
