.Wrapper {
    align-items: center;
    justify-content: center;
    height: 100px;
    /* background-color: DarkSlateGray; */
    /* background-color: white; */
    width: 100%;
    top: 0px;
    z-index: 5;
    /* color: red; */
}

.headericon {
    margin-right: 20px;
}

.navspinner {
    display: flex;
    justify-content: end;

}